<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >

    <%- include('partials/navbar')%>
  <section class=" d-flex  align-items-center justify-content-center" style="min-height: 600px;">

    <div class="col-md-3 ">
      <p class="fw-bold text-center" style="font-size: 30px;">OTP Login</p>
    <form action="/login/otplogin" method="post">
  <%- include('flashes/flash')%>
       
        <div class="mb-3">
          <label for="phno"  class="form-label">Enter Your Mobile No</label>
          <input type="number" class="form-control" id="phno" name="phno">
        </div>
     <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Submit</button>

     </div>
      </form>
      <p class="text-center text-muted mt-5 mb-0">Create an account? <a
        href="/register" class="fw-bold text-body"><u>Register here</u></a></p>
      </div>
    </section>

    
</body>
<%- include('./partials/footer')%>

</html>